* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: #fff;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body{
height: 100%;
width: 100%;
}

@mixin flexCenter($justify:center,$gap:20px){
  display: flex;
  align-items: center;
  justify-content: $justify;
  gap: $gap;
}
main{
  width: 100%;
  height: 100%;
  @include flexCenter(center,20px);
  background-color: #0e0e0e;

.card{
  width: 500px;
  height: 700px;
  background: #ffffff;
  padding: 30px 30px;


  .user_btn{
    @include flexCenter(space-between,20px);



    .user{
      @include flexCenter(start, 0px );

      img{
        width: 80px;
        border-radius: 50px;
        cursor: pointer;
      }
      h3{
        font-size: 20px;
        color: #0e0e0e;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .follow_btn{
      @include flexCenter(end, 10px);
    }
    button{
      padding: 5px 24px;
      border: 2px solid rgb(0, 204, 255);
      font-size: 20px;
      font-weight: 500;
      background: transparent;
      color: #0e0e0e;
      cursor: pointer;
      border-radius: 8px;
      letter-spacing: 1.5px;
    }
    i{
      font-size: 28px;
      color: #0e0e0e;
      cursor: pointer;
      font-weight: 500;
    }
  }

  .image{
    margin-top: 10px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1510142502281-d080f8111b1e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center center;
  }

  .btns{
    @include flexCenter(space-between,10px);
    padding-top: 20px;

    .li_sh_te{
      @include flexCenter(start,20px )
    }
    i{
      color: #0e0e0e;
      font-size: 32px;
    }
  }
  .like_people p{
    padding-top: 5px;
    font-size: 20px;
    color: #0e0e0e;
    cursor: pointer;

    i{
      color: #0e0e0e;
    }
  }

  .tittle_hash{
    padding-top: 10px;
    @include flexCenter(start, 50px);

    h4{
      color: #0e0e0e;
      font-size: 16px;
    }
  }

}
}
