/* @font-face {
  font-family: apple;
  src: url(./sf-pro-icons_regular.woff2);
} */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html,
body{
height: 100%;
width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  /* color: white;
  background-color: black; */
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 80px 1fr 1fr;
  padding: 20px;
  gap: 20px;
  grid-template-areas: "nav-bar nav-bar nav-bar"
                       "hero-text-section right-top right-top"
                        "hero-text-section bottom-left bottom-right"
;
}

.nav-bar{
    grid-area: nav-bar;
  /* background-color: darkslateblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.nav-bar .logo h4{
  font-size: 25px;
  display: inline-block;
}
.logo i{
  font-size: 25px;
  color: #BEC1FF;
  font-weight: 600;
}
.menu ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-size: 18px;
  font-weight: 500;
}
.btn-comm1{
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.btn-comm2{
  font-size: 16px;
  font-weight: 500;
  padding: 15px 18px;
  border: none;
  border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.btn-comm2 i{
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
  background-color: #BEC1FF;
  color: #000;
}



.hero-text-section{
  grid-area: hero-text-section;
  padding-left: 40px;
  position: relative;
}
.hero-text-section h1{
  font-size: 120px;
  font-weight: 400;
  position: relative;
}
.hero-text-section h1 .hero-text-img{
  display: inline-block;
  height: 50px;
  width: 150px;
  background-color: #000;
  background-image: url(https://images.unsplash.com/photo-1655635131633-a36ecd7f5b33?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin-right: 20px;
}
.hero-text-section h1 .btn-play{
  font-size: 25px;
  font-weight: 500;
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 58%;
  right: 15%;
}
.hero-btn1{
  font-size: 14px;
  margin-top: 20px;
}
.hero-btn1 i{
  padding: 0;
  background-color: transparent;
  color: #fff;
}
.hero-btn{
  background: transparent;
  border: none;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.hero-text-section p{
  font-size: 18px;
  width: 500px;
  margin-top: 60px;
}
.hero-bottom{
  display: flex;
  align-items: center;
  gap: 80px;
  position: absolute;
  bottom: 5px;
}
.hero-bottom h4{
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}


.right-top{
    grid-area: right-top;
    border-radius: 20px;
    padding-right: 50px;
}
.right-top img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}
.bottom-left{
    grid-area: bottom-left;
    border-radius: 10px;
}
.bottom-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}
.bottom-right{
    grid-area: bottom-right;
    border-radius: 10px;
    padding-right: 50px;
}
.bottom-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

