:root{
  --pre: #F8F4E1;
  --sec: #381c0a;
  --tri1: #FEBA17;
  --tri2: #74512D;
  --red: crimson;
}

@font-face {
  font-family: aeonik;
  font-weight: 300;
  src: url(./fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./fonts/AeonikTRIAL-Bold.otf);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: aeonik;
color: var(--pre);
}
html,
body{
height: 100%;
width: 100%;
}
#main{
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}
nav{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}
section.allElems{
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 40px;
  position: absolute;
}
.elem{
  background-color: var(--tri1);
  width: 330px;
  height: 400px;
  border-radius: 10px;
  font-size: 24px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all ease .2s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}
.elem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elem h2{
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 30px;
}
.elem:active{
  scale: 0.97;
}
.fullElem{
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
}
.back{
  position: absolute;
  right: 5%;
  background-color: var(--red);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.back:active{
  scale: 0.97;
}

/* Todo page css st */
.todo-list-fullpage h2{
  font-size: 65px;
  font-weight: 700;
}
.todo-list-fullpage .todo-container{
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}
.todo-list-fullpage .todo-container .addTask form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.todo-list-fullpage .todo-container .addTask form h3{
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
.todo-container .addTask form input#task-input{
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--pre);
  color: var(--sec);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form textarea{
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--pre);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form button{
  padding: 15px 25px;
  width: 100%;
  font-size: 28px;
  background-color: var(--tri1);
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all ease .3s;
}
.todo-container .addTask form button:active{
  scale: 0.97;
}
.todo-list-fullpage .todo-container .allTask{
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pre);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.task h5{
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.task h5 span{
  color: var(--pre);
  background-color: var(--red);
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}
.task h5 span.true{
  opacity: 1;
}
.task h5 span.false{
  opacity: 0;
}
.task button{
  padding: 15px 30px;
  color: var(--pre);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  transition: all ease .3s;
  cursor: pointer;
}
.task button:active{
  scale: 0.97;
}
.mark-imp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
  gap: 30px;
}
.mark-imp input{
  scale: 1.7;
}
.mark-imp label{
  font-size: 20px;
}
/* Todo page css end */
