/* base rule  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  --primary-color: #8600ff;
  --sec-color: #ff6f46;
  --text-color: #acacac;
  --text-color1: #c5c5c5;
  --text-color2: #a922c7;
  --text-bg1: #fff48a;
  --text-bg2: #ffcb00;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: Y proximity; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a,
Link {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 190rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
  width: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  border-bottom: 0.2rem solid var(--text-color1);
  padding: 2.5rem 2.4rem;
}
.navBar .navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.navBar .navLink .navItem {
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s linear(0 0%, 0.76 107.35%);
}
.navBar .navLink .navItem::after {
  content: "";
  border-bottom: 4px solid var(--primary-color);
  border-radius: 50px;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  transition: all 0.3s linear(0 0%, 0.76 107.35%);
}
.navBar .navLink .navItem:hover::after {
  width: 100%;
}
.navBar .NavLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navBar .NavLogo img {
  width: 30px;
}
.navBar .NavLogo h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.navBar .navBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.navBar .navBtns Link {
  font-size: 1.6rem;
}
.navBar .navBtns .contactUs-btn {
  padding: 10px 20px;
  border: 2px solid var(--text-bg1);
  border-radius: 50px;
}
.navBar .navBtns .contactUs-btn i {
  color: var(--primary-color);
}

.mobileMenu {
  display: none;
}

@media (max-width: 765px) {
  html {
    font-size: 60%;
  }
  .container {
    max-width: 100rem;
    margin: 0 auto;
  }
  .navBar {
    padding: 3rem 2rem;
  }
  .navBar .navLink {
    display: none;
  }
  .navBar .NavLogo {
    gap: 0.8rem;
  }
  .navBar .NavLogo img {
    width: 40px;
  }
  .navBar .NavLogo h2 {
    font-size: 3.5rem;
  }
  .navBar .navBtns {
    display: none;
  }
  .mobileNav {
    cursor: pointer;
  }
  .mobileNav i {
    font-size: 4.5rem;
    font-weight: 500;
  }
  .mobileMenu {
    display: block;
  }
  .mobileNavList {
    position: absolute;
    right: 0%;
    top: 12%;
    background-color: rgba(255, 255, 255, 0.417);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    width: 100%;
    padding: 2rem 0;
    animation: menuPopup 0.3s linear;
  }
  .mobileNavList .mobNavLink {
    margin-right: 3.5rem;
  }
  .mobileNavList .mobNavLink .navItem {
    font-size: 2.5rem;
    display: block;
    text-align: right;
    margin-bottom: 1rem;
  }
  .mobileNavList .mobNavLink .contactUs-btn {
    text-decoration: underline;
  }
}
@keyframes menuPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */