/* base rule  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
:root {
  --primary-color: #8600ff;
  --sec-color: #ff6f46;
  --text-color: #acacac;
  --text-color1: #969393;
  --text-color2: #a922c7;
  --text-bg1: #fff48a;
  --text-bg2: #ffcb00;
}
html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: Y proximity; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.container {
  max-width: 190rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}
.commonTitle {
  font-size: 4.5rem;
  font-weight: 500;
}
.commonDes {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  min-height: 100%;
  width: 100%;
}

@mixin flex-col($gap: 1rem, $align: center, $justify: space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

// Navbar css start
.navBar {
  @include flex-col(0rem, center, space-between);
  border-bottom: 0.2rem solid var(--text-color1);
  padding: 2.5rem 2.4rem;
  .navLink {
    @include flex-col(3rem, center, center);
    .navItem {
      font-size: 1.8rem;
      font-weight: 500;
      position: relative;
      transition: all 0.3s linear(0 0%, 0.76 107.35%);
      &::after {
        content: "";
        border-bottom: 0.2rem solid var(--primary-color);
        border-radius: 50px;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0%;
        transition: all 0.3s linear(0 0%, 0.76 107.35%);
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .NavLogo {
    @include flex-col(1rem, center, center);
    img {
      width: 5rem;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  .navBtns {
    @include flex-col(3rem, center, center);
    .careersNav {
      position: relative;
      &::after {
        content: "";
        border-bottom: 0.2rem solid var(--primary-color);
        border-radius: 50px;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0%;
        transition: all 0.3s linear(0 0%, 0.76 107.35%);
      }
      &:hover::after {
        width: 100%;
      }
    }
    Link {
      font-size: 1.6rem;
    }
    .contactUs-btn {
      padding: 10px 20px;
      border: 2px solid var(--text-bg1);
      border-radius: 50px;
      i {
        color: var(--primary-color);
      }
    }
  }
}
.mobileMenu {
  display: none;
}
// Navbar css End
// Hero Section css Start
.heroSection {
  width: 100%;
  height: 80vh;
  @include flex-col(0rem, center, center);
  position: relative;
  .heroTopBtns {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.5rem;
    button {
      font-size: 2rem;
      border: none;
      background-color: var(--primary-color);
      color: white;
      padding: 1rem 2rem;
      border-radius: 5rem;
    }
  }
  .heroImg1 {
    width: 30rem;
    height: 35rem;
    background-color: var(--primary-color);
    @include flex-col(0rem, center, center);
    border-radius: 2rem 2rem 50rem 50rem;
    position: absolute;
    left: 10%;
    top: 8%;
    z-index: -20;
    transform: rotate(-15deg);
    animation: upDownTop 3s infinite ease-in-out;
    img {
      width: 90%;
    }
  }
  .heroContent {
    h4 {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      color: var(--text-color1);
      margin-bottom: 1rem;
    }
    h1 {
      text-align: center;
      font-size: 12rem;
      font-weight: 500;
          img {
            width: 8%;
          }
    }
  }
  .magic {
    position: relative;
    color: var(--primary-color);
    .magicIn {
      width: 40rem;
      height: 13rem;
      background-color: var(--text-bg1);
      padding: 0.5rem 1.5rem;
      border-radius: 0.8rem;
      transform: rotate(3deg);
      position: absolute;
      top: 8%;
      left: -2%;
      z-index: -10;
    }
  }

  .heroImg2 {
    width: 30rem;
    height: 35rem;
    position: absolute;
    right: 5%;
    bottom: 0%;
    z-index: -20;
    transform: rotate(15deg);
    object-fit: cover;
    object-position: center;
    border-radius: 50rem 50rem 2rem 2rem;
    overflow: hidden;
    animation: upDownBottom 3s infinite ease-in-out;
    img {
      height: 100%;
    }
  }
  .heroBtnBottom {
    position: absolute;
    bottom: 5%;
    left: 2%;
    cursor: pointer;
    transform: rotate(-10deg);
    .heroMagicBtn {
      font-size: 2.5rem;
      padding: 1.2rem 2.8rem;
      border: 0.2rem solid var(--text-bg2);
      border-radius: 5rem;
      font-weight: 500;
    }
    i {
      font-size: 3rem;
      padding: 1rem;
      border: 0.2rem solid var(--text-bg2);
      border-radius: 5rem;
      transition: all 0.3s linear;
      &:hover {
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
        border: 0.2rem solid var(--primary-color);
      }
    }
  }
}
// Hero Section css end
// Service Section css Start
.serviceSection {
  .container {
    padding: 3rem 1rem;
  }
  .serviceElement {
    border: 0.1rem solid var(--text-color);
    border-radius: 1.2rem;
    padding: 6.4rem 1.4rem;
    position: relative;
    .serviceContent {
      @include flex-col(0rem, flex-start, space-between);
      p {
        width: 50rem;
      }
    }
    .services {
      @include flex-col(2rem, center, center);
      flex-wrap: wrap;
      margin-top: 5rem;
      .service {
        padding: 2rem;
        width: 32%;
        border: 0.2rem solid var(--primary-color);
        border-radius: 2rem;
        transition: all 0.2s linear;
        position: relative;
        .serviceTop {
          @include flex-col(00rem, center, space-between);
          border-bottom: 0.2rem solid var(--primary-color);
          padding-top: 1rem;
          padding-bottom: 4rem;
          h4 {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 1.3;
            width: 15rem;
          }
          i {
            font-size: 5rem;
            padding: 1.2rem 1.4rem;
            background-color: var(--primary-color);
            color: white;
            border-radius: 5rem;
          }
        }
        .ServiceMiddle {
          font-size: 1.8rem;
          font-weight: 400;
          padding: 3rem 0;
        }
        .serviceBottom {
          width: 100%;
          height: 35rem;
          object-fit: cover;
          object-position: center;
          border-radius: 1.2rem;
          overflow: hidden;
          @include flex-col(0rem, center, center);
          img {
            width: 100%;
            scale: 0.98;
          }
        }
        &:hover {
          border-bottom-left-radius: 35rem;
          background-color: var(--primary-color);
          color: white;
        }
        &:hover .serviceBottom {
          overflow: hidden;
          border-bottom-left-radius: 35rem;
        }
        &:hover .serviceTop {
          border-color: white;
          i {
            position: absolute;
            bottom: 15%;
            background-color: white;
            z-index: 100;
            border: 0.2rem solid var(--primary-color);
            color: var(--primary-color);
            font-size: 5rem;
          }
        }
      }
    }
    .arrow-dots{
      @include flex-col(0rem, center, space-between);
      margin-top: 3rem;
      padding: 0rem 2rem;
      .arrows{
        i{
          font-size: 3rem;
          cursor: pointer;
          padding: .8rem;
          background-color: var(--text-color);
          border-radius: 50rem;
          color: white;
          margin-right: 1rem;
          transition: all .2s ease-in-out;
          &:active{
            background-color: var(--text-color1)
          }
        }
      }
      .dots{
        @include flex-col(1rem, center,center );
        .dot{
          height: 1rem;
          width: 1rem;
          border-radius: 50rem;
          background-color: var(--text-color);
        }
        .active-dot{
          background-color: var(--text-color1)
        }
      }
    }
    .serviceBottomText {
      @include flex-col(2rem, center, center);
      flex-direction: column;
      margin-top: 5rem;
      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
        font-size: 2rem;
        .line {
          border-bottom: 0.3rem solid var(--text-color);
          width: 4rem;
        }
      }
      h6 {
        font-size: 6rem;
        font-weight: 500;
        line-height: 1.4;
        width: 80%;
        text-align: center;
        color: #0e0e0e;
        img{
          width: 5%;
        }
        .gray{
          color: var(--text-color);
        }
        .orange{
          color: var(--text-bg2);
        }
        .purple{
          color: var(--text-color2);
        }
      }
    }
    .bottomImg{
      position: absolute;
      left: 5%;
      bottom: 0%;
      transform: rotate(25deg);
      img{
        width: 40%;
      }
    }
  }
}
// Service Section css end
// Project Section css Start
.projectContent{
  @include flex-col(2rem, flex-start, space-between);
  p{
    width: 50rem;
  }
}
.projects{
  @include flex-col(2rem, center, space-between);
  margin-top: 3rem;
  flex-wrap: wrap;
  .project{
    width: 45%;
    .prTop{
      width: 100%;
      height: 50rem;
      // background-image: url(./project-1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 3rem;
      position: relative;
      .tag{
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 2rem;
        color: black;
        background-color: white;
        width: fit-content;
        border-radius: 5rem;
        position: absolute;
        bottom: 2%;
        left: 2%;
        cursor: pointer;
      }
      .proIcon{
        position: absolute;
        right: 2%;
        top: 2%;
        cursor: pointer;
        i{
          font-size: 4rem;
          background-color: white;
          padding: 1.5rem;
          border-radius: 5rem;
        }
      }
    }
    .prBottom{
      h4{
        font-size: 3.4rem;
        color: var(--primary-color);
        font-weight: 500;
      }
      p{
        font-size: 1.7rem;
        padding: 0rem;
        margin-top: 1rem;
      }
    }
  }
  :nth-child(2){
    margin-top: 5rem;
  }
}

// Project Section css end
// Footer Section css start
.footer{
  padding: 3.7rem 1rem 0rem 1rem;
  .footerElem{
    border: .1rem solid var(--text-color);
    border-radius: 1.2rem;
    padding: 2rem 3rem;
    .footerText{
      padding: 5rem 0;
      border-bottom: .1rem solid var(--text-color1);
      text-align: center;
      h6{
        color: var(--primary-color);
        font-size: 1.8rem;
        font-weight: 500;
      }
      h2{
        font-size: 5.5rem;
        font-weight: 500;
        line-height: 1.3;
        margin: 2rem 0;
        .textColo{
          background-color: var(--text-bg2);
          border-radius: 5rem;
          color: white;
          padding: .5rem 1.5rem;
        }
      }
      p{
        padding: 0 30rem;
        text-align: center;
        color: var(--text-color1);
      }
    }
    .footerBottom{
      padding: 2rem 0;
      @include flex-col(1rem, center, space-between);
      p{
        font-size: 1.6rem;
        font-weight: 100;
        color: var(--text-color1);
      }
      .social{
        display: flex;
        gap: 1rem;
        i{
          font-size: 3rem;
          font-weight: 500;
          color: var(--text-color1);
        }
      }
      .privacyCopy{
        display: flex;
        gap: 1rem;
        .privacy{
          font-size: 1.8rem;
          color: var(--text-color1);
        }
      }
    }
  }
}
// Footer Section css end


// //** Screen <= 1600px
// @media (max-width: 1600px) {
//   html {
//     font-size: 60%;
//   }
//   .container {
//     max-width: 160rem;
//     margin: 0 auto;
//   }
//   .heroImg1 {
//     left: 5% !important;
//     top: 10% !important;
//   }
//   .heroImg2 {
//     right: 5% !important;
//   }
// }

//** Screen <= 1200px
@media (max-width: 1265px) {
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  .heroImg1 {
    left: 5% !important;
    top: 10% !important;
    width: 25rem !important;
    height: 25rem !important;
    img {
      width: 80% !important;
    }
  }

  .heroImg2 {
    width: 25rem !important;
    height: 25rem !important;
    img {
      height: 100%;
    }
  }

  .heroContent {
    h1 {
      font-size: 9rem !important;
      line-height: 1.2;
      }
    }
  .magic {
    .magicIn {
      width: 30rem !important;
      height: 10rem !important;
    }
  }

  .service {
    width: 48% !important;
    .serviceTop {
      h4 {
        font-size: 3rem !important;
      }
      i {
        font-size: 4rem !important;
      }
    }
  }
  .serviceBottomText{
    h6{
      font-size: 4rem !important;
      width: 100% !important;
    }
  }
  .bottomImg{
      left: 0% !important;
      bottom: -4% !important;
    }

    // Footer -
    .footerText{
      h2{
        font-size: 4rem !important;
        margin: 1.5rem 0 !important;
      }
      p{
        padding: 0 10rem !important;
      }
    }
}
//** Screen <= 765
@media (max-width: 765px) {
  // Navbar mobile css Start
  html {
    font-size: 55%;
  }
  .container {
    max-width: 76.5rem;
    margin: 0 auto;
    padding: 5.6rem 2rem;
  }
  .navBar {
    padding: 3rem 2rem;
    .navLink {
      display: none;
    }
    .NavLogo {
      gap: 0.8rem;
      img {
        width: 40px;
      }
      h2 {
        font-size: 3.5rem;
      }
    }
    .navBtns {
      display: none;
    }
  }
  .mobileNav {
    cursor: pointer;
    i {
      font-size: 4.5rem;
      font-weight: 500;
    }
  }
  .mobileMenu {
    display: block;
    z-index: 9999;
  }
  .mobileNavList {
    position: absolute;
    right: 0%;
    top: 11%;
    background-color: rgba(255, 255, 255, 0.417);
    backdrop-filter: blur(20px);
    width: 100%;
    padding: 2rem 0;
    animation: menuPopup 0.3s linear;
    .mobNavLink {
      margin-right: 3.5rem;
      .navItem {
        font-size: 2.5rem;
        display: block;
        text-align: right;
        margin-bottom: 2rem;
      }
      .contactUs-btn {
        text-decoration: underline;
      }
    }
  }
  // Navbar mobile css End

  // Hero Content
  .heroContent {
    h1 {
      font-size: 8rem !important;
      line-height: 1.2;
    }
  }
  .magic {
    .magicIn {
      width: 26rem !important;
      height: 9rem !important;
    }
  }

  // service content
  .serviceContent {
    flex-direction: column;
    row-gap: 2rem !important;
    p {
      width: 90% !important;
    }
  }
    .bottomImg{
      bottom: 0% !important;
    }

    // Project mob css
    .projectContent{
  flex-direction: column;
  p{
    width: 80%;
  }
}

.project{
    width: 45%;
      .tag{
        font-size: 1.8rem !important;
      }
      .proIcon{
        cursor: pointer;
        i{
          font-size: 3.5rem !important;
        }
      }
  }
      .prBottom{
      h4{
        font-size: 2.8rem !important;
      }
      p{
        font-size: 1.6rem !important;
      }
    }

    // Footer
        .footerText{
      h2{
        font-size: 2.6rem !important;
        line-height: 1.4 !important;
      }
      p{
        padding: 0 0rem !important;
      }
    }
        .footerBottom{
          flex-direction: column;
          gap: 1.5rem !important;
        }
              .privacyCopy{
                flex-direction: column;
                text-align: center;
              }
}

//** Screen <= 665
@media (max-width: 665px) {
  html{
    font-size: 52%;
  }
  .container {
    max-width: 66.5rem;
    margin: 0 auto;
    padding: 4rem 2rem;
  }
  .commonTitle {
    font-size: 3rem !important;
  }
  .heroSection {
    align-items: flex-start;
  }
  // Hero Content
  .heroSection {
    height: 50vh;
  }
  .heroContent {
    margin-top: 10rem;
    h4 {
      font-size: 1.8rem !important;
    }
    h1 {
      font-size: 5rem !important;
    }
  }
  .magic {
    .magicIn {
      width: 17rem !important;
      height: 6rem !important;
    }
  }

  .heroImg1 {
    left: 8% !important;
    top: 15% !important;
    width: 15rem !important;
    height: 15rem !important;
  }

  .heroImg2 {
    width: 15rem !important;
    height: 15rem !important;
    right: 6% !important;
    bottom: 0% !important;
  }
  .heroBtnBottom {
    top: 78%;
    left: 8% !important;
    position: cursor;
    transform: rotate(-8deg);
    .heroMagicBtn {
      font-size: 2rem !important;
      padding: 1rem 2rem !important;
      border: 0.2rem solid var(--text-bg2);
      border-radius: 5rem;
      font-weight: 500;
    }
    i {
      font-size: 3rem;
      padding: 1rem;
      border: 0.2rem solid var(--text-bg2);
      border-radius: 5rem;
      transition: all 0.3s linear;
      &:hover {
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
        border: 0.2rem solid var(--primary-color);
      }
    }
  }

  .services {
    margin-top: 3rem !important;
    .service {
      width: 100% !important;
      display: block;
      .serviceTop {
        padding-top: 0.8rem !important;
        padding-bottom: 2rem !important;
        h4 {
          font-size: 2.5rem !important;
        }
        i {
          font-size: 3rem !important;
          padding: 1rem 1.1rem !important;
        }
      }
      .ServiceMiddle {
        font-size: 1.6rem !important;
        line-height: 1.2 !important;
        padding: 2rem 0 !important;
      }
      .serviceBottom {
        width: 100%;
        height: 20rem !important;
        object-fit: cover;
        object-position: center;
        border-radius: 1.2rem;
        overflow: hidden;
      }
      &:hover {
        border-bottom-left-radius: 24rem !important;
      }
    }
  }

  .serviceBottomText{
    h6{
      font-size: 2.5rem !important;
    }
  }


  // Project Mobile css
  .projects{
    justify-content: center;
  .project{
    width: 90%;
    .prTop{
      .tag{
        bottom: 5% !important;
        left: 6% !important;
      }
      .proIcon {
        right: 5% !important;
      }
    }
  }
}
.project:nth-child(2){
  margin-top: 0rem !important;
}

// Footer
.footer {
  .footerElem {
    padding: 2rem !important;
    .footerText{
       h2{
        font-size: 1.8rem !important;
        line-height: 1.5 !important;
        width: 100% !important;
       }
    }
  }
}
}
// //** Screen <= 465
// @media (max-width: 465px) {
//   .heroContent {
//     h4 {
//       font-size: 1.6rem !important;
//     }
//     h1 {
//       font-size: 4rem !important;
//     }
//   }

//   .magic {
//     .magicIn {
//       width: 13.4rem !important;
//       height: 5rem !important;
//     }
//   }

//   .heroImg2 {
//     width: 15rem !important;
//     height: 15rem !important;
//     right: 5% !important;
//     bottom: 5% !important;
//   }
// }

// animation
@keyframes menuPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes upDownBottom {
  0% {
    transform: rotate(15deg) translateY(0);
  }
  50% {
    transform: rotate(15deg) translateY(-20px);
  }
  100% {
    transform: rotate(15deg) translateY(0);
  }
}

@keyframes upDownTop {
  0% {
    transform: rotate(-15deg) translateY(0);
  }
  50% {
    transform: rotate(-15deg) translateY(-20px);
  }
  100% {
    transform: rotate(-15deg) translateY(0);
  }
}
