* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: #fff;
}

html,
body{
height: 100%;
width: 100%;
}

main{
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
}

main h1{
  color: #eeeeee47;
  font-size: 10vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
