*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin flex_column($gap: 1rem){
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;
}

main{
  width: 100%;
  background-color: black;

  @include flex_column(column);


  .section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .top{
      width: 100%;

      img{
        width: 100%;
        border-radius: 0.7rem;
      }
    }
  }
}
