@font-face {
  font-family: Chillax;
  src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: black;
}
html{
  font-family: Chillax;
  color: rgb(224,224,224);
  font-size: clamp(14px, 1.5vw, 18px);
}

.section1{
  max-width: 2000px;
}

@mixin flex_column($gap: 1rem){
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main{
  width: 100%;
  @include flex_column(1rem);
  align-items: center;


  .section1{
    width: 100%;
    @include flex_column(1rem);
    padding: 1rem;

    .top{
      width: 100%;
      border-radius: 0.7rem;


      img{
        width: 100%;
        height: 100%;
        border-radius: 0.7rem;
      }
    }

  .bottom{
    @include flex_column(3rem);
    background-color: #1E1E1E;
    border-radius: 0.7rem;
    padding: 1.8rem;

    p{
      color: #fff;
      font-size: 1rem;
      opacity: .8;
    }

  .hero_text{
    @include flex_column(1rem);

    h1{
      font-size: 2.8rem;
      color: #fff;
      opacity: 0.9;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
    }

    p{
      font-size: 1.25rem;
      color: #fff;
      line-height: 1.8;
      opacity: .6;
      font-weight: 200;
    }

    button{
      width: fit-content;
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      font-size: .8rem;
      margin-top: .7rem;
      opacity: .8;
      cursor: pointer;

      i{
        padding: .7rem;
        outline: 1px solid rgba(255, 255, 255, 0.288);
        border-radius: 50px;
        margin-right: .7rem;
        background-color: #292929;
      }
    }
  }
  }
  }
}


@media (min-width:900px) {
  main{
    // background-color: #fff;

    .section1{
      flex-direction: row;

      .top{
        width: 50%;
      }

      .bottom{
        padding: 3rem;
        width: 50%;
        justify-content: space-between;

        .hero_text{
          gap: 1.5rem;


          h1{
            font-size: 3.5rem;
          }
          p{
            width: 70%;
          }
        }
      }
    }
  }
}
