* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: #fff;
}

html,
body{
height: 100%;
width: 100%;
}
body{
  background-color: #0e0e0e;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  font-size: 3rem;
  color: rgb(34, 235, 34);
}
