* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html,
body{
height: 100%;
width: 100%;
}
main{
  width: 100%;
  height: 100%;
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.show-data{
  width: 800px;
  background-color: crimson;
  border: 4px solid #fff;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.show-data h1{
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.show-data h4{
  font-size: 2rem;
  color: #fff;
  text-align: left;
}
.show-data h4 .team-name,
.show-data h4 .captain-name,
.show-data h4 .coach-name,
.show-data h4 .owner-name,
.show-data h4 .venue
{
  font-size: 1.5rem;
  color: #d1cccc;
}
.show-data h4 .win{
  font-size: 1.4rem;
}

button{
  padding: 15px 24px;
  border:  none;
  background-color: crimson;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

button:active{
  scale: .9;
}

@media (max-width:900px) {
  main{
    gap: 20px;
    justify-content: start;
  }
  .show-data{
    width: 80vw;
    margin-top: 50px;
  }
  .show-data h4{
  font-size: 1.5rem;
}
.show-data h4 .team-name,
.show-data h4 .captain-name,
.show-data h4 .coach-name,
.show-data h4 .owner-name,
.show-data h4 .venue
{
  font-size: 1.2rem;
}

}
