* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,
body{
height: 100%;
width: 100%;
}
body{
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  anchor-name: --some-anchor;
}

.box{
  height: 400px;
  width: 400px;
  transition: all .3s linear;
}
.box:hover{
  anchor-name: --some-anchor;
}
.red{
  background-color: rgba(142, 16, 16);
}
.blue{
  background-color: rgba(17, 17, 97);
}
.green{
  background-color: rgb(13, 80, 13);
}

.anchor{
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  position-anchor: --some-anchor;
  pointer-events: none;
  transition: all .3s linear;
  mix-blend-mode: difference;
}

body:has(.box:hover) .box{
  transform: scale(.8);
}

.box:hover{
  transform: scale(1.3) !important;
}
