* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: #fff;
}

html,
body{
height: 100%;
width: 100%;
}
body{
  background-color: #0e0e0e;
  color: #fff;
}

main{
  width: 100%;
  height: 100%;
  padding: 20px;
}

section{
  height: 100%;
  width: 450px;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.all-reels{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.reels{
  width: 100%;
  height: 100%;
  /* background: crimson; */
  position: relative;
}
.reels img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.reels .bottom{
  padding: 30px 20px;
  /* background: linear-gradient(rgba(255, 255, 255, 0.184),rgba(207, 207, 207, 0.167)); */
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 999;
  width: 100%;
}
.bottom .user{
  display: flex;
  align-items: center;
  gap: 20px;
}
.bottom .user h3{
  font-size: 24px;
  font-weight: 600;
}
.bottom .user img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.bottom .user button{
  padding: 8px 20px;
  background: none;
  border: 2px solid #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}
