* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: #fff;
}

html,
body{
height: 100%;
width: 100%;
}
body{
  background-color: #0e0e0e;
  color: #fff;
}

main{
  width: 100%;
  height: 100%;
  padding: 20px;
}

section{
  height: 100%;
  width: 450px;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.all-reels{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: scroll;

  scroll-snap-type: y mandatory;
}
.all-reels::-webkit-scrollbar {
  display: none;
}
.reels{
   scroll-snap-align: start;
   scroll-snap-stop: always;

  width: 100%;
  height: 100%;
  /* background: crimson; */
  position: relative;
}
.reels video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.reels .bottom{
  padding: 30px 20px;
  /* background: linear-gradient(rgba(255, 255, 255, 0.184),rgba(207, 207, 207, 0.167)); */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.bottom .user{
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom .user h3{
  font-size: 24px;
  font-weight: 600;
}
.bottom .user img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #fff;
}
.bottom .user button{
  padding: 5px 15px;
  background: none;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.bottom p{
  font-size: 20px;
  margin-top: 20px;
}

.right{
  position: absolute;
  right: 0;
  bottom: 5%;
  width: 50px;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 30px;
}

.right i{
  font-size: 32px;
}

.right h5{
  font-size: 20px;
  font-weight: 400;
}
.like,
.comment,
.share,
.more{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media(max-width:650px){
  section{
    width: 350px;
  }
  .bottom .user h3{
  font-size: 18px;
}
.right i{
  font-size: 28px;
}

.right h5{
  font-size: 18px;
}
.bottom p{
  font-size: 17px;
}

}
