@font-face{
font-family: beautiful;
src: url(./BeautifulPeoplePersonalUse-dE0g.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.section-hero{
  height: 100%;
  width: 100%;
  background-image: url(./bgimg.jpg);
  background-size: cover;
  text-align: center;
  background-position: center center;
  padding: 200px 0;
}
.section-hero h1{
  color: #ffff;
  font-family: beautiful;
  font-size: 120px;
}
.section-hero button{
  border: none;
  padding: 12px 18px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #fc6413;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
